body {
  margin: 0 auto;
  background-image: url(./image.jpg);
  background-size: cover;
  max-width: 900px;
  font-family: "Oswald";
}

h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(54, 85, 68, 0.85);
}

#create-new-artist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 80px;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  height: 30px;
  background-color: rgb(248, 248, 255, 0.8);
  border: solid 1px rgb(54, 85, 68, 0.85);
  color: black;
}

#all-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  gap: 25px;
}

#filter-by-genre,
#filter-by-country {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#titles {
  color: ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(54, 85, 68, 0.85);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  text-align: left;
  padding-left: 15px;
}

ol {
  padding: 0px;
}

.artist {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: solid 1px #365544;
  background-color: rgb(248, 248, 255, 0.7);
  color: #365544;
}

button {
  background-image: url(./image.jpg);
  color: ghostwhite;
}
